/* Universal */
header {
   background: rgba(72, 85, 87); 
   margin: 0;
   padding: 0;
}

footer {
   background-color: rgba(72, 85, 87); 
}

#logo {
   position: absolute;
   margin-top: 1px;
   margin-left: 50px;
   
}

body {
   background: rgb(203, 241, 245);
   margin: 0;
   padding: 0;
   text-align: center;
}



nav {
   width: 100%;
   overflow: auto;
   background: rgb(0, 0, 0);
}

ul {
   padding: 0;
   margin: 0 0 0 250px;
   list-style: none;
}

li {
   float: left;
}

li a {
   width: 100px;
   display: block;
   padding: 30px 125px;
   text-decoration: none;
   color: rgb(203, 241, 245);
   text-align: center;
   
}

li a:hover {
   background: rgba(72, 85, 87);
   text-transform: uppercase;
}

/* About Me */
#gray-background {
   background-color:  rgba(72, 85, 87);
   border: 5px solid;
   margin-right: 950px;
}

#blue-background {
   background-color:  rgb(52, 122, 133);
   border: 5px solid;
   margin-top: 10px;
   margin-left: 950px;
}

/* Contact Me */
form {
   text-align: center;
}

/* Projects */
.project-gray {
   border: 5px solid;
   background-color: rgba(72, 85, 87);
   margin-right: auto;
   width: 1000px;
   height: 150px;
   position: absolute;
}

.project-blue {
   border: 5px solid;
   background-color: rgb(52, 122, 133);
   margin-left: auto;
   width: 1000px;
   height: 150px;
   position: absolute;
}

.right-image {
   margin-left: 1100px;
   /*position:absolute;*/   
   
}

.left-image {
   margin-left: 250px;
}

